@font-face {
    font-family: Bakh;
    font-style: normal;
    font-weight: normal;
    src: url("../public/assets/fonts/Yekan-05.ttf") format("truetype");
}
@font-face {
    font-family: Bakh;
    font-style: normal;
    font-weight: 800;
    src: url("../public/assets/fonts/Yekan-07.ttf") format("truetype");
}
@font-face {
    font-family: Bakh;
    font-style: normal;
    font-weight: 900;
    src: url("../public/assets/fonts/Yekan-08.ttf") format("truetype");
}
html, body {
    padding: 0;
    direction: rtl;
    margin: 0;
    font-family: Bakh;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;